<!doctype html>
<html>
<head>
    <!--<title></title>-->
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>

<h1 class="title"><span class="color1">little</span><span class="color2">Bits</span></h1>
<div class="bits-container">
    <ul class="minibits">
        <% bits.forEach(function(item,i) { %>
        <li><%= item.content %></li>
        <% })%>
    </ul>
</div>

</body>
</html>
